<div class='card container'>
  <div class='card-body'>
    <h1 class='card-title-country'>
      Страна:{{name}}
    </h1>

    <h2 class='card-title-city'>
      Стлица:{{capital}}
    </h2>
    <h3 class='card-text'>
      Население:{{population}}
    </h3>
    <ul class='card-text'>
      <h3>
        Язык:{{languages.name}}
      </h3>
    </ul>
  </div>
  <div class='card-img'>
    <img src="{{flag}}" alt="{{name}}" width='400' />
  </div>
</div>